<div class="row">
    <div id="carouselExampleControls" class="carousel slide col-12" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="item">
                    <div class="dtl23 text-center textos">
                        <img src="assets/img/tecnologia.jpg" alt="">
                        <div class="dtl">
                            <h1>TECNOLOGIA</h1>
                     
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="carousel-item">
                <div class="item">
    
    
                    <div class="dtl23 text-center textos">
                        <img src="assets/img/televisor.jpg" alt="">
                        <div class="dtl">
                            <h1>SMART-TV'S</h1>
                         
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="carousel-item text-center">
                <div class="item">
    
    
                    <div class="dtl23 text-center textos">
                        <img src="assets/img/celular.jpg" alt="">
                        <div class="dtl">
                            <h1>CELULARES</h1>
                            
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="carousel-item text-center">
                <div class="item">
                    <div class="dtl23 text-center textos">
                        <img src="assets/img/computador.jpg" alt="">
                        <div class="dtl">
                            <h1>COMPUTADORES</h1>
                            
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="carousel-item">
                <div class="item">
                    <div class="dtl23 text-center textos">
                        <img src="assets/img/camera.jpg" alt="">
                        <div class="dtl">
                            <h1>CÁMARAS </h1>
                        
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="carousel-item text-center">
                <div class="item">
    
    
                    <div class="dtl23 text-center textos">
                        <img src="assets/img/xboxPlay.jpg" alt="">
                        <div class="dtl">
                            <h1>CONSOLAS & VIDEOJUEGOS</h1>
                      
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="separador mt-3 me-3 ms-3"><div></div></div>


<div>
    <div class="bgDiv p-3 mt-5">
        <div class="row ms-4">
            <h1 class="textos text-light">EXPLORAR PRODUCTOS</h1>
            <div class="card mt-3 col-3 me-2">
                <img src="assets/img/tvmini.jpg" alt="">
                <div class="con-text">
                    <h2 class="textos">SMART-TV</h2>
                </div>
            </div>
            <div class="card mt-3 col-3 me-2">
                <img src="assets/img/phonemini.jpg" alt="">
                <div class="con-text">
                    <h2 class="textos">CELULARES</h2>
                </div>
            </div>
            <div class="card mt-3 col-3 me-2">
                <img src="assets/img/computermini.jpg" alt="">
                <div class="con-text">
                    <h2 class="textos">COMPUTADORES</h2>
                </div>
            </div>
            <div class="card mt-3 col-3 me-2">
                <img src="assets/img/cameramini.jpg" alt="">
                <div class="con-text">
                    <h2 class="textos">CÁMARAS</h2>
                </div>
            </div>
            <div class="card mt-3 col-3 me-2">
                <img src="assets/img/console.jpg" alt="">
                <div class="con-text">
                    <h2 class="textos">CONSOLAS</h2>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="separador mt-3 me-3 ms-3"><div>h</div></div>


<div class="row">
    <div class="col-6 bgDiv">Hola mundo</div>
    <div class="col-6 bgImg">hola mundo</div>
</div>
