<div class="container">
    <div>
        <h1>Crear Producto</h1>
    </div>

    <form [formGroup]="productoForm" (ngSubmit)="agregarProducto">
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione Categoria</option>
            <option value="1">Celulares</option>
            <option value="2">Computadores</option>
            <option value="3">Camaras</option>
            <option value="4">Televisores</option>
            <option value="5">Consolas</option>
        </select>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre Producto</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese nombre producto">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Marca</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese marca">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Precio</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Precio producto">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>